.title-wrapper h1 {
  font-size: 74px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 800;
  line-height: 74px;
}

.subtitle-wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}

.featured-content-wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
}
  
.utility-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.utility-links div {
  background-color: #EDEDED;
}

.featured-post {
  align-self: flex-start;
  transition: transform 0.3s ease;
  background-color: #EDEDED;
}
  
.featured-posts-ni {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  align-self: flex-start;
}
  
.search-wrapper, div.filter-wrapper, div.featured-post {
  border-radius: 1em;
}

.utility-button {
  font-family: "Hanken Grotesk", sans-serif;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: inherit;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EDEDED;
  margin-top: 3em;
  height: 3.9em;
  font-family: "Hanken Grotesk", sans-serif;
}

.filter-bar p {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  color: #686868;
}

.filter-bar p:hover {
  color: #575cff;
  cursor: pointer;
  border-bottom: 4px solid #686868;
}

.filter-bar p.active {
  color: #575cff;
  cursor: pointer;
  border-bottom: 4px solid #686868;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.post-wrapper {
  position: relative;
  border-radius: 1em;
  height: 90vh;
  transition: transform 0.3s ease;
  text-decoration: none;
  background-color: #EDEDED;
}

.ni-wrapper {
  transition: transform 0.3s ease;
  border-radius: 1em;
  background-color: #EDEDED;
}

.post-wrapper:hover, 
.featured-post:hover,
.ni-wrapper:hover {
  cursor: pointer;
  box-shadow: 10px 10px #575cff;
  transform: translate(-20px, -20px);
}

.featured-content-wrapper a, .content-wrapper a {
  text-decoration: none;
  color: inherit;
}